[inert] > * {
  opacity: .5;
}

.med-top-margin {
	margin-top: 2rem;
}

.small-bottom-margin {
	margin-bottom: 0.4rem;
}

.click-track-section {
	padding: 0.5rem;
	border: 1px solid rgb(14, 11, 32);
	border-radius: 5px;
}